[Desktop Entry]
Name=ACDSee
Exec=bash -l -c '"cd /home/stefan/.wine/drive_c/Program\ Files\ \(x86\)/ACDSee32/ && wine ACDSee32.exe"'
Type=Application
StartupNotify=true
Path=/home/stefan/.wine/drive_c/Program Files (x86)/ACDSee32
Icon=acdsee
StartupWMClass=ACDSee32.exe
