[Desktop Entry]
Encoding=UTF-8
Name=devilutionX
Type=Application
Icon=devilutionX
Terminal=0
Categories=Game;BoardGame;
Path=/home/stefan/Games/gog/diablo/devilutionx/
Exec=/home/stefan/Games/gog/diablo/devilutionx/devilutionx.sh
