[Desktop Entry]
Encoding=UTF-8
Name=Diablo and Hellfire
Type=Application
Icon=devilutionX
Terminal=false
Categories=Game;BoardGame;Diablo
Exec=/home/stefan/Applications/devilutionx-linux-x86_64.appimage
