[Desktop Entry]
Name=Jagged Alliance 2
Exec=/home/stefan/Applications/ja2-stracciatella_0.20.0-git+439a6d3_x86-64.AppImage
Type=Application
Icon=ja2
StartupNotify=true
StartupWMClass=jagged_alliance_2
