[Desktop Entry]
Type=Application
Exec=bash -c "/home/stefan/.local/bin/lunarvim"
Icon=/home/stefan/.local/share/icons/hicolor/512x512/apps/lunarvim.svg
Name=LunarVim
Keywords=Text;Editor;
Categories=Utility;TextEditor;
Comment=LunarVim is an opinionated, extensible, and fast IDE layer for Neovim
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
